@font-face {
    font-family: "Brandon";
    src: url("../fonts/brandon.otf");
}
@font-face {
    font-family: "futuramd";
    src: url("../fonts/futuram.ttf");
}

@font-face {
    font-family: "FuturaBk";
    src: url("../fonts/futuran.ttf");
}

@font-face {
    font-family: "Akzid";
    src: url("AkzidGroCFFReg.otf");
}

body {
  font: 14pt/1.5 FuturaBk;
  background: #009ee1;
  color: #fff;
}

body #sponsors,#about {
  color: #454f63;
}

a {
  border-bottom: 1px solid;
  color: #c5007b;
  font-weight: bold;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: FuturaMd;
  font-weight: bold;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}


.btn {
  background: #c5007b;
  color: #FFF;
  padding: 15px 40px;
  font-family: FuturaMd;
  font-weight: bold;
  font-size: 1.8rem;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0px;
  z-index: 0;
  text-transform: uppercase;
  transition: 200ms ease-in-out;
}
.btn:hover {
  background: #FFF;
  color: #c5007b;
}

nav.navbar {
  padding: 15px 10px;
  border: none;
  background: -webkit-linear-gradient(top, rgb(0,158,225) 10%, transparent);
}
nav ul.nav {
  font: 1.2em/1 FuturaMd;
  color: #c5007b;
}
.nav>li>a {
  padding: 8px 0;
  margin: 0 20px;
  font-weight: bold;
  background: none !important;
  border-bottom: 5px solid transparent;
  transition: all 200ms ease-in-out;
}
.nav:hover>li.active>a {
  border-bottom: 5px solid transparent;
}
.nav>li>a:hover, .nav>li>a:visited {
  background: none;
  border-bottom: 5px solid #fff;
  border-radius: 0;
  color: #fff;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: none;
  color: #c5007b;
  border-bottom: 5px solid #fff;
  border-radius: 0;
}
.nav>li>a.blog:hover {
  border-bottom: 5px solid #00D6C9;
}

svg#curve, svg.shape {
  pointer-events: none;
  position: absolute;
  top: -13337px;
  left: -13337px;
}

.jumbotron {
  min-height: 100vh;
  background: none;
}

section.container {

}

section.water-wrapper {
  position: relative;
  padding: 50px 0;
  z-index: 0;
}
.water {
  position: relative;
}
.water:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 20px;
  width: 100%;
  background: url('../img/curve.svg');
}
svg.curve {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
}


.heading:after, .auto-heading:after {
  content: url('../img/shapes/box-mag.svg');
  position: absolute;
  top:-5px;
  width: 30%;
  left: -50px;
  z-index: -1;
}

#home {
  padding-top: 100px;
  text-align: center;
  height: 55vw;
  z-index: 0;
}
#home a {
  border: none;
  text-decoration: none;
}
#home .background {
  position: absolute;
  background: #009ee1;
  top: 0;
  left: 0;
  height: 60vw;
  width: 100%;
  z-index: -1;
}
#home .content {
  position: relative;
}
#home .background .main-background {
  background-image: url('../img/header/box-back.svg');
  height: 60vw;
  background-size: 100%;
  background-position: left;
}

#home .hdfw {
  display: inline-block;
  font-family: Brandon;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
}
#home .hdfw span {
vertical-align: bottom;
}
#home .hdfw img {
  height: 60px;
  display: inline-block;
}
#home .logo {
  margin: auto;
  margin-top: 40px;
  max-width: 100%;
  width: 450px;
}
#home .title {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  text-indent: 1.5rem;
  margin: 0;
}
#home .subtitle {
  font-size: 1.5rem;
  color: #c5007b;
  margin: 5px auto;
}
#home .buttons {
  margin-top: 50px;
}

#home .buttons .btn {
  margin: 0 20px;
  margin-bottom: 20px;
}

#about .curve {
  fill: #fff;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

#about .background {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#about .content {
  position: relative;
}
#about .background .single-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 30vw;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  background-image: url('../img/shapes/box-mag.svg');
}

#faq .curve {
  fill: #009ee1;
}
#faq {
  background: #009ee1;
}
#faq .question:nth-child(even) {
  margin-bottom: 40px;
  left:-10px;
  float: left;
}

#faq .question:nth-child(odd) {
  margin-top: 40px;
  left: 10px;
  float: right;
}

#sponsors {
  background: #fff;
}
#sponsors .curve {
  fill: #fff;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}
#sponsors a {
  border-bottom: none;
}
.sponsor-img img {
  margin: 20px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  max-height: 120px;
  max-width: 25%;
  filter: none;
  opacity: 0.6;
  /*-webkit-filter: grayscale(50%);
  -moz-filter:    grayscale(50%);
  -ms-filter:     grayscale(50%);
  -o-filter:      grayscale(50%);*/
}
#sponsors .partner img {
  max-height: 150px;
}

#sponsors .filler {
  margin: 120px 0;
  color: #fff;
}
#sponsors img:hover {
  filter: none;
  /*-webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);*/
  opacity: 1;
}
#sponsors .you {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  vertical-align: middle;
  font-weight: normal;
  background: none;
  border: 2px dashed;
  display: inline-block;
  font-family: "Brandon";
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  line-height: 1.2;
  opacity: 0.4;
  transition: all 100ms ease-in-out;
}
#sponsors .you span {
  display: block;
  font-size: 2em;
  font-family: "Brandon";
  font-style: italic;
  font-weight: bold;
}
#sponsors .you:hover {
  opacity: 1;
}

#sponsors label {
  display: block;
  margin-top: 20px;
  font-size: 1.2em;
  &.left {
  float: left;
  margin: 0;
  margin-right: 50px;
  }
}

.large-sponsor {
  max-width: 85%;
}


#judges {
  background: #009ee1;
}
#judges .curve {
  fill: #009ee1;
}
#judges img {
  height: 180px;
  margin: auto;
  display: block;
}

#contact {
  padding: 50px;
  margin-bottom: 0px;
  background: #009ee1;
}
#contact .curve {
  fill: #009ee1;
}
#contact .location {
  padding: 20px;
  background: rgba(0,0,0,0.1);
  font-family: FuturaBk;
  display: inline-block;
  border-radius: 5px;
}

footer {
  margin-top: 100px;
}
footer li {
  float: right;
  list-style: none;
}
footer li a {
  border-bottom: none;
  margin: 0 20px;
}

@media only screen and (max-width: 1000px) {
  #home .background {
    border-top: 300px solid #009ee1;
    height: 150vw;
  }
  #home {
    height: 700px;
    padding-top: 30px;
  }
  h2 {
    font-size: 1.5em;
  }
  #home .title {
    font-size: 3rem;
    letter-spacing: 1rem;
    text-indent: 1rem;
  }
  #contact {
  padding: 20px;
  }
  #faq .question {
  margin: 10px auto !important;
  float: left !important;
  }
  footer #social {
    float: left !important;
  }
  footer li a {
    margin: 0 5px;
  }
}
